
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333; /*background color for the entire page */
  color: #fff;
}

/* container to center content vertically */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; 
}

/*Header at the top of the viewport */
.Header {
  background-color: #000; 
  color: #fff; /* Set a light text color for the header */
  padding: 20px;
}

/*main content area (div.main-content) */
.main-content {
  background-color: #222;
  flex-grow: 1;
  color: red;
}

/*Footer at the bottom of the viewport */
.Footer {
  background-color: #000; 
  color: black; 
  padding: 20px;
  text-align: center;
}


.main-content {
  background-color: #222;
  flex-grow: 1; 
  color: #fff;

  
}


.tetris-cell.filled {
  background-color: rgb(8, 185, 9); 
  color: #fff; /* Text color for filled cells */
  border-radius: 7px;
}
